/* Reset CSS */
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 60px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #555;
}

.card-body {
    flex: 1 1 auto;
}

.card-text {
    flex-grow: 1;
    text-align: left;
}
/* Styling for other sections, adjust as needed */
section {
    padding: 50px 0;
    text-align: center;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* プロジェクト詳細ページ用のスタイル */
.project-details {
    text-align: center;
    padding: 0;
}

.project-details h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.project-details img {
    max-width: 100%;
    height: auto;
    /*margin-top: 20px;*/
}

.project-image img {
    width: 100%; /* 画面幅いっぱいに画像を広げる */
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.project-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.project-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-info ul {
    text-align: left;
    margin-bottom: 20px;
}

.project-info ul li {
    margin-bottom: 5px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-icon {
    margin: 5px;
    text-align: center;
    width: calc(25% - 10px); /* 4つ横並びにするための幅指定 */
}

.contact-form {
    text-align: center;
    padding: 50px;
}

.contact-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

